body {
	background-color:  #00ffff;
	font-family: sans-serif;
}
h1 {
	color: tomato;
	font-style: italic;
}
h2 {
	color: orange;
	font-style: italic;
}
p {
	color: hotpink;
}
li {
	color: hotpink;
}
img {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 25px;
	border-style: solid;
	border-color: orange;
}
iframe {
	border-radius: 5px;
}
a:link {
	color: limegreen;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: darkred;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: dodgerblue;
	text-decoration: none;
	font-weight: bold;
}
nav ul {
	list-style-type: none;
	background-color: limegreen;
	border: 4px solid black;
	border-radius: 10px;
	font-family: sans-serif;
	font-weight: bold;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 24px;
}
nav ul li {
	display: inline;
	border-right: 2px solid black;
	padding-right: 8px;
}
nav ul li:last-child {
	border-right: none;
}
nav ul li a {
	text-decoration: none;
	color: limegreen;
}
nav ul li.selected {
	color: green;
}
nav ul li a:hover {
	text-decoration: underline;
	color: dodgerblue;
}
nav ul li a:visited {
	color: hotpink;
}
nav ul li a:link {
	color: hotpink;
}
